/*//META{"name":"keketiger","description":"Theme created by keketiger for Discord app. Copyright keketiger 2021.","author":"keketiger","version":"2.0.5", "website":"https://keketiger.fr", "source":"https://github.com/keketiger/discord_theme"}*//**/	

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif');
@import url('https://keketiger.github.io/assets/discord_theme/version_2/theme.css');

:root {
	--first_color: #d11414;
	--second_color: #9b3c31;
	--font: 'Bree Serif', sans-serif;
	--home_image: url('https://keketiger.github.io/assets/discord_theme/version_2/images/icon.png');
	--background_color: #1a1a1a;
	--background_image: url('https://keketiger.github.io/assets/discord_theme/version_2/images/background.png');
	--background_blur: 0px;
	--background_opacity: 0.75;
}
